<div class="container shadow-lg border-4">
  <h1 class="text-center text-danger">¿Que es Angular?</h1>
  <div class="d-flex justify-content-center">
    <img [src]="imagenAngular" class="img-fluid rounded-top" alt="" />
  </div>
  <br />
  <button class="btn btn-danger">
    <a [href]="paginaAngular" target="_blank" class="text-black">Ver mas</a>
  </button>
  <div class="d-flex justify-content-around row-cols-3">
    <p class="text-center">
      Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para
      aplicaciones web desarrollado en TypeScript, de código abierto, mantenido
      por Google, que se utiliza para crear y mantener aplicaciones web de una
      sola página. Su objetivo es aumentar las aplicaciones basadas en navegador
      con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer
      que el desarrollo y las pruebas sean más fáciles.
    </p>
    <p class="text-center">
      Angular se basa en clases tipo "Componentes", cuyas propiedades son las
      usadas para hacer el binding de los datos. En dichas clases tenemos
      propiedades (variables) y métodos (funciones a llamar).
    </p>
    <p class="text-center">
      Angular es la evolución de AngularJS aunque incompatible con su
      predecesor.
    </p>
  </div>
</div>
